/* Reset CSS */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Load custom fonts */
 @font-face {
    font-family: 'POPPINS';
    src: url('../assets/fonts/Poppins-Bold.ttf');
 }
 @font-face {
    font-family: 'POPPINS-ExtraBoldItalic';
    src: url('../assets/fonts/Poppins-ExtraBoldItalic.ttf');
}
 @font-face {
    font-family: 'POPPINS-Regular';
    src: url('../assets/fonts/Poppins-Regular.ttf');
 }
/* Positioning the form relative to the background */
body {
    background-color:hsl(0, 0%, 94%);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
/* Styling the size, color, and border of the form */
.calculator_form {
     background-color: hsl(0, 100%, 100%);
     border-radius: 2rem 2rem 9rem 2rem;
     width: 600px; 
     height: 100%; 
     padding: 50px;  
     
}

/* Container flex layout for input fields */
.main_input_container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
    

}

/* Styling for label text */
.input_container_label {
    font-family:Poppins;
    color: hsl(0, 1%, 44%);
    padding: 5px;
    }

/* Container flex layout for input text  */
.input_container {
    display: flex;
    flex-direction: column;
    
}
 
/* Styling for input field border */
input {
    border-radius: 8px;
    padding: 20px;
    width: 150px;
    border-style: solid;
    border-color:hsl(0, 0%, 86%);
   
}
 
/*Styling for input numbers  */
.input_control {
    color: black;
    font-size: 32px;
    font-family: Poppins;
}

.button_container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.button_container::before,
.button_container::after {
    content: "";
    flex: 1;
    border-bottom: 2px solid hsl(0, 0%, 94%)
}

/* Submit button styling */
.submit_button {
    background-color:hsl(259, 100%, 65%);
    border-radius: 50px;
    border: hsl(259, 100%, 65%);
    margin: 30px;
    padding: 20px;

}
/* mobile layout */
@media (max-width:600px) {

}


.age_result_field {
    font-family: 'Poppins-ExtraBoldItalic';
    font-size: 25px;
    padding: 2rem;
    display: flex;
    flex-direction: column;
}

.age_result_field span {
    color:hsl(259, 100%, 65%) ;
}

